// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$class-slug: margin-left !default;

@for $i from 1 through 10 {
  .#{$class-slug}-#{$i * 5} {
    margin-left: 0px + ($i * 5)
  }
}
