<template>
    <div>
        <div class="input-field">
            <input placeholder="Search..." id="search_by_text" type="text" class="validate" v-on:keyup="search">
            <label for="search_by_text">Search</label>
        </div>
    </div>
</template>

<script>
    export default {
        name: "filter-component",
        methods: {
            do_request(query) {
                var req = new XMLHttpRequest();
                req.open('get', '/api/starships?' + query, false);
                req.send(null);
                if (req.status == 200) {
                    return JSON.parse(req.responseText);
                }
            },
            search(event) {
                var value = event.target.value;
                if (value.length % 3 !== 0) {
                    return false;
                }
                this.$root.$emit('filter', this.do_request("&str=" + value))
            }
        }
    }
</script>

<style scoped>

</style>