<template>
    <div id="modal-starship" class="modal">
        <div class="modal-content">
            <h4>{{starship.name}}</h4>
            <ul class="collection">
                <li class="collection-item" v-for="(v, k) in starship" v-if="k !== 'url' && k !== 'name'">
                    <b>{{k}}:</b> {{v}}
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "modal-starship",
        data() {
            return {
                starship: Object
            }
        },
        mounted() {
            this.$root.$on('modal_call', (starship) => {
                this.starship = starship;
            });
        }
    }
</script>

<style scoped>

</style>