<template>
    <div>
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ starship.name }}</span>
                <div class="row">
                    <div class="col s6">
                        <p>{{starship.model}}</p>
                        <p>{{starship.manufacturer}}</p>
                    </div>
                    <div class="col s6">
                        <p>Price: {{starship.cost_in_credits}} <img src="/img/credit_symbol.png" alt="GCS" /></p>
                        <p>MGLT: {{starship.mglt}}</p>
                    </div>
                </div>

            </div>
            <div class="card-action">
                <a href="#" v-on:click="moreInfo">More info</a>
                <a href="#">buy</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "StarshipListElement",
        props: {
            starship: Object
        },
        data() {
            return {
                msg: "Welcome to Your Vue.js App"
            };
        },
        methods: {
            moreInfo(event) {
                var modal_instance = M.Modal.getInstance(document.getElementById('modal-starship'));
                this.$root.$emit('modal_call', this.starship);
                modal_instance.open();
            }
        }
    }
</script>
