<template>
    <div>
        <StarshipListElement v-for="(starship, key) in starships" :starship="starship" :key="key" />

        <ul class="pagination">
            <li class="waves-effect"
                v-for="n in 3"
                v-on:click="pagination">
                <a href="#!" :data-page="n">{{n}}</a>
            </li>
        </ul>
    </div>
</template>

<script>
    import StarshipListElement from "./starship-list-element";
    export default {
        self: this,
        name: "starship-list",
        components: {StarshipListElement},
        data() {
            return {
                starships: []
            }
        },
        mounted() {
            this.starships = this.do_request(1)
            document.getElementById("starship-progress").classList.add("hide")
            this.$root.$on('filter', (starships) => {
                this.starships = starships;
            });
        },
        methods: {
            do_request(page) {
                var req = new XMLHttpRequest();
                req.open('get', '/api/starships?page=' + page, false);
                req.send(null);
                if (req.status == 200) {
                    return JSON.parse(req.responseText);
                }
            },
            pagination: function(event) {
                this.starships = this.do_request(event.target.dataset.page);
            }
        }

    }
</script>

<style scoped>

</style>